################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/VisualStudio/Componentes/Componentes/.vs/Componentes/v16/Server/sqlite3
/VisualStudio/EditorDeTexto/obj/Debug
/VisualStudio/EditorDeTexto/.vs/EditorDeTexto/v16
/VisualStudio/IMG/png
